<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/static/css/bootstrap.css">
    <title>CrowdFunding :: HanGyeol</title>


</head>
<body>
    <div>
        <th:block th:replace="include/html_navbar"></th:block>
    </div>
    <div style="margin-top: -20px;">
        <img style="width: 100%;" src="/static/img/hero_app_cholog.jpg">
    </div>
    <div>
    <h3 style="font-weight: bold; float: left; margin-left: 20%;">주목할 만한 프로젝트</h3>
    </div>
    </br>
    </br>
    </br>


    <div class="list-group" style="margin-left: 20%; margin-right: 20%;">
        <a href="#" class="list-group-item list-group-item-action flex-column align-items-start">
            <div class="d-flex w-100 justify-content-between">
                <h5 class="mb-1">List group item heading</h5>
                <small class="text-muted">3 days ago</small>
            </div>
            <p class="mb-1">Donec id elit non mi porta gravida at eget metus. Maecenas sed diam eget risus varius blandit.</p>
            <hr size="1px" color="#EBEBEB">
            <small class="text-muted">Donec id elit non mi porta.</small>
        </a>
        <a href="#" class="list-group-item list-group-item-action flex-column align-items-start">
            <div class="d-flex w-100 justify-content-between">
                <h5 class="mb-1">List group item heading</h5>
                <small class="text-muted">3 days ago</small>
            </div>
            <p class="mb-1">Donec id elit non mi porta gravida at eget metus. Maecenas sed diam eget risus varius blandit.</p>
            <small class="text-muted">Donec id elit non mi porta.</small>
        </a>
    </div>

</div>
<!--BootStrap js-->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
<script src="/static/js/bootstrap.js"></script>

</body>
</html>